In [1]:
import pandas as pd

In [2]:
data= pd.read_csv('spam.csv')
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
data.isnull().sum()

Category    0
Message     0
dtype: int64

In [4]:
data.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [5]:
#grouping categories
data.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [6]:
#converting spam and ham to 0 and 1
data['spam']= data['Category'].apply( lambda x: 1 if x== 'spam' else 0)
data.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(data.Message, data.spam, train_size=0.75, test_size=0.25)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [9]:
from sklearn.pipeline import Pipeline
model= Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())])

In [10]:
model.fit(x_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [11]:
model.score(x_test, y_test)

0.9834888729361091

In [12]:
emails= [
    'Hurry, you will miss the offer',
    'Hurry upto 80% discount on latest collections',
    'Life cover Upto $10000',
    'Iphone 12 Pro Max in $100',
    'Tax-free Guarnteed Income'
]

In [13]:
# making prediction
model.predict(emails)
# 0 represent not spam
# 1 means spam

array([0, 1, 0, 1, 1], dtype=int64)

#### Defining problem

We're provided with a dataset containing spam and ham emails and we have to build a model which predict and spam and ham emails with high accuracy.

Dataset is clean and doesn't contain any null values, so no need of data munging. We split the datsset in Train and Test to build and train model.

Then create pipeline and uses CountVectorizer to convert text into vector(bunch or number for machine understanding). Then applied Naive Bayes Classifier

We're using dataset only to train the model, for testing we have created a new variable named emails which contain set of spam and ham email keywords

#### Naive Bayes Classifier

Naive Bayes Classifier is one of the simple and most effective Classification algorithms which helps in building the fast machine learning models that can make quick predictions. It gives very good results in NLP tasks such as sentimental analysis. As name suggest it is based on Bayes Theorem and conditional probability

This model has accuracy of  98.20%.